<footer class="row">
  <ul class="inline-list small-12 small-centered medium-12 medium-centered columns">
    <li><small>by Morgan VanDerLeest</small></li>
    <div class="inline-list right">
      <li><small><%= link_to "About",   '#' %></small></li>
      <li><small><%= link_to "Contact", '#' %></small></li>
      <li><small><%= link_to "Help",    '#' %></small></li>
    </div>
  </ul>
</footer>